
@font-face {  font-family: 'Ubuntu';
    src: url('../polices/Ubuntu/Ubuntu-Regular.ttf');
}

body {
    font-family: Ubuntu;
    padding: 80px;

    background: linear-gradient(to right, #bebebc, #eeeeee);
}
h2{
    color: #262626;
    font-weight: bold;
}

input{
    background: transparent;
    color: #FFFFFF;
    border: none;
    border-bottom: #FFFFFF 2px solid;
    outline: none;
}

input:active, input:focus {
    border-bottom: #348E73 2px solid;

}

textarea:active, textarea:focus {
    border-bottom: #348E73 2px solid;
}

.nom {
    background: linear-gradient(to right, #131313, #1A243B);
    color: lightgray;
}

.nom td {
    padding: 15px;
}

.theme {
    background: linear-gradient(to right, #131313, #1A243B);
    color: lightgray;
}

.theme td {
    padding: 15px;
}

select {
    background: transparent;
    color: #FFFFFF;
    outline: none;
    border: none;
    width: 245px;
    height: 30px;
}

.contenu {
    background: linear-gradient(to right, #131313, #1A243B);
    color: lightgray;
}

.contenu td {
    padding: 15px;
}

textarea {
    resize: none;
    width: 240px;
    height: 150px;
    background : transparent;
    border: none;
    outline: none;
    border-bottom: #FFFFFF 2px solid;
    color : #FFFFFF;
}

tfoot tr td {
    padding: 20px;
}

tfoot {
    border-collapse: collapse;
    border: 1px solid black;
    background-color: #131313;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

tfoot tr td input {
    background-color: #131313;
    color: lightgray;
    border: none;
}
