
@font-face { font-family: 'Ubuntu';
    src: url('../polices/Ubuntu/Ubuntu-Regular.ttf');
}

body {
    font-family: Ubuntu;
    padding: 80px;

    background: linear-gradient(to right, #c3c3c3, #eeeeee);
}

h2 {
    color: #262626;
    font-weight: bold;
}

.mail {
    background: linear-gradient(to right, #131313, #2e3532);
    color: lightgray;

}

.mail td {
    padding: 15px;
}

.mdp {
    background: linear-gradient(to right, #131313, #2e3532);
    color: lightgray;
}

.mdp td {
    padding: 15px;
}

tfoot tr td {
    padding: 20px;
}

tfoot {
    border-collapse: collapse;
    border: 1px solid black;
    background-color: #131313;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

tfoot tr td input {
    background-color: #131313;
    color: lightgray;
    border: none;
}

tfoot tr td a:link {
    text-decoration: none;
}

tfoot tr td a {
    color: lightgray;
    font-size: 14px;
}